.main-content {
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.img-size {
  width: 150px;
  height: 90px;
}

.transparent {
  background-color:rgba(0, 0, 0, 0.1);
}

.icon-size {
  font-size: 20px;
}